/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Mobile styles
   ========================================================================== */
 .content-wrapper {
  outline: 3px dotted red;
  width: 90%;
  margin: 50px 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

.header-divider {
  width: 100%;
  height: 1px;
  margin-top: 10px 0 20px 0;
}

header nav {
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Parent of .content-wrapper */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 55%;
}

footer .contact {
  margin-bottom: 50px;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  margin: 20px 0;
}

/* ==========================================================================
   Mobile > Homepage
   ========================================================================== */
.hero-area {
  display: flex;
  justify-content: center;
}

aside {
  display: flex;
  justify-content: center;
}

.features {
  display: flex;
  justify-content: center;
}

.features h2 {
  margin-bottom: 60px;
}

.features .features-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.features .features-items article {
  text-align: center;
  width: 63%;
  margin: 30px 0;
}

.features p {
  margin: 0;
}

.reviews {
  display: flex;
  justify-content: center;
}

.reviews h2 {
  margin-bottom: 40px;
}

.reviews h3 {
  width: 55%;
  margin: 20px 0;
}

/* ==========================================================================
   Mobile > About page
   ========================================================================== */
.mission {
  display: flex;
  justify-content: center;
}

.contact-section {
  display: flex;
  justify-content: center;
}

.contact-content p {
  margin: 0;
}

/* ==========================================================================
   Mobile > FAQ page
   ========================================================================== */
.faq {
  display: flex;
  justify-content: center;
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 50px 0 0 0;
}

.faq h2 {
  margin-bottom: 40px;
}

.faq-content {
  margin-bottom: 50px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Tablet styles
   ========================================================================== */
@media only screen and (min-width: 768px) {
  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  header {
    padding: 33px 0;
  }

  header .content-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  header nav {
    width: 20%;
  }

  header nav ul {
    justify-content: space-between;
  }

  .header-divider {
    display: none;
  }

  footer .content-wrapper {
    width: 65%;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-content div {
    width: 50%;
  }
  
  footer h4 {
    margin-bottom: 40px;
  }

  footer .contact {
    margin-bottom: 0px;
  }

  footer .social {
    display: flex;
    flex-direction: column;
  }

  footer .copyright {
    width: 100%;
  }
  
  /* ==========================================================================
   Tablet > Home Page
   ========================================================================== */
   aside .content-wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 40%;
    margin: 0;
  }

  .features h2 {
    margin-bottom: 20px;
  }

  .features .features-items {
    justify-content: space-evenly;
  }

  .features article {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 50%;
  }

  .features .features-item-description {
    width: 50%;
  }

  .reviews article {
    display: flex;
    justify-content: space-between;
  }

  .reviews article div {
    width: 49%;
  }

  /* ==========================================================================
   Tablet > About Page
   ========================================================================== */
   .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
  }
  
  .mission-content p {
    width: 45%;
  }
  
  .contact-section .content-wrapper h2 {
    width: 80%;
  }
  
  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* ==========================================================================
   Tablet > FAQ Page
   ========================================================================== */
  .faq .content-wrapper {
    justify-content: space-between;
  }
  
  .faq-content {
    flex-basis: 45%;
  }
  
  .faq h2 {
    width: 100%;
  }
}

/* ==========================================================================
   Desktop styles
   ========================================================================== */
 @media only screen and (min-width: 1200px) {
  /* Style adjustments for viewports that meet the condition */

  .content-wrapper {
    max-width: 960px;
  }

  header {
    padding: 15px 0;
  }

  footer .content-wrapper {
    width: 100%;
  }

  .footer-content div {
    width: 25%;
  }

  /* ==========================================================================
   Desktop > Home Page
   ========================================================================== */
   .hero-area h1 {
    width: 80%;
   }

   aside .content-wrapper {
    justify-content: space-around;
   }

   aside .content-wrapper .form-description,
   aside .content-wrapper .form {
     width: 30%;
   }

   .features h2 {
    width: 90%;
   }

   .features article {
    flex-basis: 33%;
  }

  .reviews h2 {
    margin-bottom: 50px;
  }

  .reviews article div {
    width: 42%;
  }

  /* ==========================================================================
   Desktop > About Page
   ========================================================================== */
  .mission h2,
  .contact-section .content-wrapper h2 {
    width: 95%;
  }

  /* ==========================================================================
   Desktop > FAQ Page
   ========================================================================== */
  .faq h2 {
    width: 100%;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

